<div class="clr-row clr-justify-content-center">
    <div class="clr-col-lg-6 clr-col-md-8">
        <div class="card">
            <div class="card-header">
                <span style="align-self: center">{{tournament.name}}</span>
                <div role="tooltip" aria-haspopup="true"
                     class="tooltip tooltip-bottom-right tooltip-sm subscribe-btn-wrap">
            <span [appHideForbidden]="'VISITOR'"
                  class="tooltip-content">Log in to subscribe</span>
                    <button class="subscribe-btn btn btn-sm btn-outline"
                            [appDisableForbidden]="'USER'"
                            (click)="followBtnClicked()"
                            [class.btn-warning-outline]="isSelected">
                        <span *ngIf="!isSelected && !loadingSubscription">Follow</span>
                        <span *ngIf="isSelected && !loadingSubscription">Unfollow</span>
                        <span *ngIf="loadingSubscription" class="spinner spinner-inline"></span>
                    </button>
                </div>
            </div>
            <div class="card-block">
                <div class="card-media-block">
                    <img [alt]="tournament.name" src="../../../assets/dota.png"
                         class="card-media-image">
                    <div class="card-media-description">


                        <span class="card-media-text" *ngIf="tournamentCondition">
                            Status: {{tournamentCondition}}
                        </span>


                        <span class="card-media-text" *ngIf="tournament.owner &&
                        tournament.owner.username">
                            Owner:
                            <a routerLink="/user/{{tournament.owner.username}}">
                                {{tournament.owner.username}}
                            </a>
                        </span>


                        <span class="card-media-text" *ngIf="tournament.winnerTeam">
                            Winner: {{tournament.winnerTeam.name}}
                        </span>


                        <span class="card-media-text" *ngIf="tournament.teamCount">
                            Team count: {{tournament.teamCount}}
                        </span>


                        <span class="card-media-text" *ngIf="tournament.prizePool != null">
                            Prize pool:
                            {{tournament.prizePool}}{{tournament.prizePoolCurrency.sign}}
                        </span>


                    </div>
                </div>
                <div class="card-text">
                    <b *ngIf="tournament.startWhenReady && tournamentCondition.toLowerCase()
                    === 'upcoming'">
                        This tournament will start when {{tournament.teamCount}}
                        teams join.
                    </b>
                    <br>
                    {{tournament.description}}
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-link" routerLink="/tournaments/{{tournament._id}}">view
                    page
                </button>
            </div>
        </div>
    </div>
</div>
