.card {
    max-width: 700px;
    margin: 0 0 20px 0;
}

.subscribe-btn-wrap {
    margin-left: auto;
}

.subscribe-btn {
    min-width: 100px;
}

.tooltip-content {
    left: 80% !important;
    margin-top: .5rem !important;
    width: 6rem !important;
    padding: 0.2rem 0.5rem !important;
}

.card-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.card-footer {
    text-align: left;
}

.card-media-text {
    line-height: 1.5;
}
