<div id="main-page-wrap">
    <div id="title">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 100"
             preserveAspectRatio="none">
            <polygon points="0 0 250 100 500 0 0 0" fill="#21343e" stroke="black"></polygon>
        </svg>
        <h1 align="center">Welcome to Playmaker</h1>
        <h4 align="center">Here you can</h4>

    </div>

    <div class="feature-text-right">
        <div class="feature-text">
            <h1 align="center">Create tournaments</h1>
        </div>
        <div class="graphics-big">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 300"
                 preserveAspectRatio="none">
                <polygon points="0 0 0 300 500 250 0 0" fill="#438597" stroke="black"></polygon>
            </svg>
        </div>
        <div class="graphics-small">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 300"
                 preserveAspectRatio="none">
                <polygon points="0 70 100 0 100 300 0 70" fill="#3b758e" stroke="black"></polygon>
            </svg>
        </div>
    </div>

    <div class="feature-text-left">
        <div class="feature-text">
            <h1 align="center">Join tournaments</h1>
        </div>
        <div class="graphics-big">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 200"
                 preserveAspectRatio="none">
                <polygon points="500 200 0 50 500 0 500 200" fill="#2f657b"
                         stroke="black"></polygon>
            </svg>
        </div>
        <div class="graphics-small">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 300"
                 preserveAspectRatio="none">
                <polygon points="0 0 0 300 100 200 0 0" fill="#579eb2" stroke="black"></polygon>
            </svg>
        </div>
    </div>

    <div class="feature-text-right">
        <div class="feature-text">
            <h1 align="center">Win tournaments</h1>
        </div>
        <div class="graphics-big">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 300"
                 preserveAspectRatio="none">
                <polygon points="0 0 0 300 400 170 500 100 0 0" fill="#579eb2"
                         stroke="black"></polygon>
            </svg>
        </div>
        <div class="graphics-small">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 300"
                 preserveAspectRatio="none">
                <polygon points="0 250 100 0 100 300 0 250" fill="#3b758e" stroke="black"></polygon>
            </svg>
        </div>
    </div>

    <div class="go-btn-wrap">
        <div id="left-bracket">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 300"
                 preserveAspectRatio="none">
                <polygon points="0 0 100 50 50 50 100 250 0 300 0 0" fill="#21343e"
                         stroke="black"></polygon>
            </svg>
        </div>

        <a *ngIf="!logged" class="go-btn btn btn-primary" routerLink="/signup">GO</a>
        <a *ngIf="logged" class="go-btn btn btn-primary" routerLink="/tournaments">GO</a>

        <div id="right-bracket">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 300"
                 preserveAspectRatio="none">
                <polygon points="100 0 100 300 0 250 50 250 0 50 100 0" fill="#344b57"
                         stroke="black"></polygon>
            </svg>
        </div>
    </div>

</div>
