<div id="main-page-wrap">
    <div id="title">
        <h1 align="center">Welcome to Playmaker</h1>
        <h4 align="center">Here you can:</h4>

    </div>

    <div class="feature-text-right">
        <div class="feature-text">
            <h1 align="center">Create tournaments</h1>
        </div>
        <div class="graphics-big">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 300"
                 preserveAspectRatio="none">
                <polygon points="0 0 0 300 500 200 0 0" fill="#3b758e" stroke="black"></polygon>
            </svg>
        </div>
        <div class="graphics-small">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 300"
                 preserveAspectRatio="none">
                <polygon points="0 0 0 300 500 200 0 0" fill="#3b758e" stroke="black"></polygon>
            </svg>
        </div>
    </div>

    <div class="feature-text-left">
        <div class="feature-text">
            <h1 align="center">Join tournaments</h1>
        </div>
        <div class="graphics-big">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 200"
                 preserveAspectRatio="none">
                <polygon points="500 200 0 50 500 0 500 200" fill="#2f657b"
                         stroke="black"></polygon>
            </svg>
        </div>
    </div>

    <div class="feature-text-right">
        <div class="feature-text">
            <h1 align="center">Win tournaments</h1>
        </div>
        <div class="graphics-big">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 300"
                 preserveAspectRatio="none">
                <polygon points="0 0 0 300 400 170 500 100 0 0" fill="#579eb2"
                         stroke="black"></polygon>
            </svg>
        </div>
    </div>

    <a id="go-btn" class="btn btn-primary" routerLink="/signup">GO</a>

    <div class="banner">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" preserveAspectRatio="none">
            <rect x="0" y="0" width="500" height="500" fill="none" stroke="black"
                  stroke-width="2"></rect>
            <line x2="500" y2="500" x1="0" y1="0" fill="none" stroke="black"></line>
            <line x2="500" y2="0" x1="0" y1="500" fill="none" stroke="black"></line>
        </svg>
        <div
            class="banner-text"><h2 align="center">А еще вы можете заплатить много денег, чтобы тут
            был огромный порно баннер</h2>
            <h4 align="center">Если заплатите еще больше, будет картинка с аниме</h4>
        </div>

    </div>

</div>
