<div class="main-page-wrap">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" preserveAspectRatio="none">
        <rect x="0" y="0" width="500" height="500" fill="none" stroke="black"
              stroke-width="2"></rect>
        <line x2="500" y2="500" x1="0" y1="0" fill="none" stroke="black"></line>
        <line x2="500" y2="0" x1="0" y1="500" fill="none" stroke="black"></line>
    </svg>
    <div
        class="slogan"><h1 align="center">А тут будет огромный порно баннер, когда нам за него
        заплатят</h1>
    </div>

</div>
