<form class="search">
    <label for="search_input">
        <input #searchInput id="search_input" (keyup)="search(searchInput.value)" type="text"
                placeholder="Search for keywords...">
    </label>
</form>

<div *ngFor="let tour of tours" class="card">
    <div class="card-header">
        <span style="align-self: center">{{tour.name}}</span>
        <button class="btn btn-sm btn-outline subscribe_btn" [appDisableForbidden]="'USER'">
            Subscribe
        </button>
    </div>
    <div class="card-block">
        <div class="card-media-block">
            <img src="../../assets/dlc.jpeg" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Id: {{tour._id}}
                        </span>
                <span class="card-media-text">
                            Owner: {{tour.owner}}
                        </span>
            </div>
        </div>
        <div class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.
            <!--{{tour.description}}-->
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-link" routerLink="/tournaments/{{tour._id}}">view page</button>
    </div>
</div>
