.card, .search {
    min-width: 300px;
    max-width: 700px;
    width: 50%;
    margin: 0 auto 20px auto;
}

.subscribe_btn {
    margin-left: auto;
}

.card-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.card-footer {
    text-align: left;
}

.search {
    background: white;
    padding-top: .3rem;
}

.search input, .search label {
    width: 100%;
    color: black;
}

