<clr-main-container>
    <header class="header-6">
        <div class="branding">
            <clr-icon shape="flame"></clr-icon>
            <span class="title">{{title}}</span>
        </div>
        <div class="header-nav">
            <a *ngFor="let component of nav_components"
               routerLink={{component.link}} class="nav-link nav-text">{{component.text}}</a>
        </div>
        <div class="header-actions">
            <form class="search"> <!--TODO: expanding on click search field-->
                <label for="search_input">
                    <input id="search_input" type="text" placeholder=" Search for keywords...">
                </label>
            </form>
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="user"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <div *ngIf="hasPermission">
                        <a routerLink="/profile" clrDropdownItem>Profile</a>
                        <a clrDropdownItem>Preferences</a>
                        <a clrDropdownItem>Log out</a>
                    </div>
                    <div *ngIf="!hasPermission">
                        <a routerLink="/login" clrDropdownItem>Log In</a>
                    </div>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>