<div *ngIf="tour">
    <h1>
        {{tour.name}}
    </h1>
    <button class="btn btn-outline" (click)="joinOpen = true; joinError = ''" *ngIf="!tour.started">
        join tournament
    </button>

    <button class="btn btn-primary" (click)="startTournament()" *ngIf="isOwner && !tour.started">
        Start tournament
    </button>

    <div class="clr-row clr-justify-content-between">
        <div class="clr-col-auto">
            <section id="tour">
                <div class="caption">Info</div>
                <h4 *ngIf="tour.owner">
                    Owner : <a routerLink="/user/{{tour.owner.username}}">{{tour.owner.username}}</a>
                </h4>
                <b *ngIf="tour.startWhenReady && tournamentCondition.toLowerCase()
                    === 'upcoming'">
                    This tournament will start when {{tour.teamCount}}
                    teams join.
                </b>
                <br>
                {{tour.description}}
                <h4 *ngIf="tour.teamCount">
                    Max team count: {{tour.teamCount}}
                </h4>

                <h4 *ngIf="tour.prizePool">
                    Prize pool: {{tour.prizePool}} {{tour.prizePoolCurrency.sign}}
                </h4>

                <h4 *ngIf="tour.winnerTeam">
                    Winner: {{tour.winnerTeam.name}}
                </h4>

                <div *ngIf="tour.teams && tour.teams.length != 0">
                    <h4>Teams:</h4>
                    <ol>
                        <li *ngFor="let team of tour?.teams">{{team.name}}</li>
                    </ol>
                </div>
            </section>
        </div>

        <div class="clr-col-lg-8">
            <app-bracket [tournament]="tour"></app-bracket>
        </div>
    </div>


    <clr-modal [(clrModalOpen)]="joinOpen" [clrModalSize]="'sm'">
        <div class="modal-title">
            Join tournament
        </div>
        <div class="modal-body team-picker">
            <clr-select-container>
                <label for="select">Choose team</label>
                <select id="select" clrSelect name="options" [(ngModel)]="chosenTeam">
                    <option *ngFor="let team of teams" [value]="team._id">{{team.name}}</option>
                </select>
            </clr-select-container>
            <div class="clr-subtext">{{joinError}}</div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="joinTournament()">
                Join
            </button>
        </div>
    </clr-modal>
</div>
