<div *ngIf="tour">
    <h1>
        <clr-icon id="back_btn" shape="circle-arrow" class="btn btn-link" dir="left"
                  (click)="goBack()"></clr-icon>
        {{tour.name}}
    </h1>
    <button class="btn btn-primary" (click)="startTournament()" *ngIf="isOwner && !tour.started">Start tournament</button>
    <h4>
        Id: {{tour._id}}
    </h4>

    <h4>
        Prize pool: {{tour.prizePool}}
    </h4>

    <h4>Teams:</h4>
    <ol>
        <li *ngFor="let team of tour?.teams">{{team.name}}</li>
    </ol>

    <bracket [tournament]="tour"></bracket>
</div>
