<div *ngIf="!_404 && user">
    <form clrForm clrLayout="vertical" (submit)="updateUserInfo()">
        <img class='avatar' [src]="user.avatar" alt="none" width="250" height="250">

        <clr-input-container>
            <label>FILE</label>
            <input type="file" (change)="onFileSelected($event)">
        </clr-input-container>

        <p class="p1">id: {{user._id}}</p>
        <p class="p1">{{user.email}}</p>
        <p class="p1" *ngIf="user.accountId">steam id: {{user.accountId}}
            <button type="button" class="btn btn-icon btn-link"
                    (click)="disconnectSteam()">
                <clr-icon shape="trash"></clr-icon>
            </button>
        </p>
        <p class="p1" *ngIf="!user.accountId">steam id:
            <button id="steam_btn" type="button" class="btn btn-sm btn-link"
                    (click)="connectSteam()">Connect your Steam account
            </button>
        </p>
        <clr-input-container>
            <label>JID</label>
            <input id="JID" type="text" name="JID" clrInput="JID"
                   placeholder="JID" [(ngModel)]="user.jid"/>
        </clr-input-container>
        <button [clrLoading]="updateBtnState" id="update_btn" type="submit" class="btn btn-primary">
            UPDATE
        </button>
    </form>
</div>
<app-page-not-found *ngIf="_404"></app-page-not-found>
