.ability-icon {
    height: 27px;
}

.scrollable-table {
    margin: auto;
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

.abilities-table th {
    padding-left: 4px;
    padding-right: 4px;
}

.abilities-table td {
    padding-left: 4px;
    padding-right: 4px;
    min-width: 35px;
}
