<section class="title">
    <h1 class="welcome">Sign Up</h1>
</section>
<div>
    <form clrForm [formGroup]="signUpForm" (ngSubmit)="submit()">
        <clr-input-container>
            <label>Username</label>
            <input
                    clrInput
                    title="username"
                    type="text"
                    name="username"

                    formControlName="username"
            />
            <clr-control-helper>Enter username</clr-control-helper>
            <clr-control-error *clrIfError="'required'">Required field</clr-control-error>
            <clr-control-error *clrIfError="'usernameExists'">
                Username is occupied
            </clr-control-error>
            <clr-control-error *clrIfError="'minlength'">
                Should be longer than 4 symbols
            </clr-control-error>
        </clr-input-container>

        <clr-input-container>
            <label>E-mail</label>
            <input
                    clrInput
                    title="email"
                    type="text"
                    name="email"

                    formControlName="email"
            />
            <clr-control-helper>Enter your e-mail</clr-control-helper>
            <clr-control-error *clrIfError="'required'">Required field</clr-control-error>
            <clr-control-error *clrIfError="'email'">Not an email</clr-control-error>
            <clr-control-error *clrIfError="'emailExists'">Email is already used</clr-control-error>
        </clr-input-container>

        <clr-password-container>
            <label>Password</label>
            <input
                    clrPassword
                    title="password"
                    type="password"
                    name="password"

                    formControlName="password"
            />
            <clr-control-helper>Enter a password</clr-control-helper>
            <clr-control-error *clrIfError="'required'">Required field</clr-control-error>
            <clr-control-error *clrIfError="'mismatch'">Passwords don't match</clr-control-error>
        </clr-password-container>

        <clr-password-container>
            <label>Confirm password</label>
            <input
                    clrPassword
                    title="password_confirm"
                    type="password"
                    name="password_confirm"

                    formControlName="confirmPassword"
            />
            <clr-control-helper>Enter the password again</clr-control-helper>
            <clr-control-error *clrIfError="'required'">Required field</clr-control-error>
            <clr-control-error *clrIfError="'mismatch'">Passwords don't match</clr-control-error>
        </clr-password-container>
        <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.valid">
            Submit
        </button>

    </form>
</div>
