<div class="clr-row clr-justify-content-center">
    <div class="clr-col-lg-10" *ngIf="match">
        <h2>Radiant</h2>
        <table class="table table-noborder">
            <thead>
            <tr>
                <th class="left">Player</th>
                <th>Lvl</th>
                <th>K</th>
                <th>D</th>
                <th>A</th>
                <th>LH/D</th>
                <th>GPM/XMP</th>
                <th>Hero dmg</th>
                <th>Tower dmg</th>
                <th>Hero healing</th>
                <th>Gold earned</th>
                <th>Items</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of match.players | slice:0:5">
                <td class="left">{{player.hero_name.replace('_', ' ') | titlecase }}</td>
                <td>{{player.level}}</td>
                <td>{{player.kills}}</td>
                <td>{{player.deaths}}</td>
                <td>{{player.assists}}</td>
                <td>{{player.last_hits}}/{{player.denies}}</td>
                <td>{{player.gold_per_min}}/{{player.xp_per_min}}</td>
                <td>{{player.hero_damage}}</td>
                <td>{{player.tower_damage}}</td>
                <td>{{player.hero_healing}}</td>
                <td>{{(player.gold_per_min * match.duration / 60000 ) | number:'1.0-1'}}k</td>
                <td class="item-set left">
                    <div *ngFor="let item of player.items" class="item">
                        <img [src]="itemIconURL + item.name + '_lg.png'" alt="" class="item-icon">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Dire</h2>
        <table class="table table-noborder">
            <thead>
            <tr>
                <th class="left">Player</th>
                <th>Lvl</th>
                <th>K</th>
                <th>D</th>
                <th>A</th>
                <th>LH/D</th>
                <th>GPM/XMP</th>
                <th>Hero dmg</th>
                <th>Tower dmg</th>
                <th>Hero healing</th>
                <th>Gold earned</th>
                <th>Items</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of match.players | slice:5:10">
                <td class="left">{{player.hero_name.replace('_', ' ') | titlecase }}</td>
                <td>{{player.level}}</td>
                <td>{{player.kills}}</td>
                <td>{{player.deaths}}</td>
                <td>{{player.assists}}</td>
                <td>{{player.last_hits}}/{{player.denies}}</td>
                <td>{{player.gold_per_min}}/{{player.xp_per_min}}</td>
                <td>{{player.hero_damage}}</td>
                <td>{{player.tower_damage}}</td>
                <td>{{player.hero_healing}}</td>
                <td>{{(player.gold_per_min * match.duration / 60000 ) | number:'1.0-1'}}k</td>
                <td class="item-set left">
                    <div *ngFor="let item of player.items" class="item">
                        <img [src]="itemIconURL + item.name + '_lg.png'" alt="" class="item-icon">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <h2>Ability Build</h2>
        <table class="table table-noborder">
            <thead>
            <tr>
                <th class="left">Player</th>
                <th *ngFor="let dummy of ' '.repeat(25).split(''), let x = index">{{x+1}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of match.players">
                <td>{{player.hero_name.replace('_', ' ') | titlecase }}</td>
                <td *ngFor="let dummy of ' '.repeat(16).split(''), let x = index">
                    <div *ngIf="player.ability_upgrades[x]">
                        <img [src]="getAbilityIconUrl(player.ability_upgrades[x].name)" alt="tal" class="ability-icon">
                    </div>
                </td>
                <td></td>
                <td>
                    <div *ngIf="player.ability_upgrades[16]">
                        <img [src]="getAbilityIconUrl(player.ability_upgrades[16].name)" alt="tal" class="ability-icon">
                    </div>
                </td>
                <td></td>
                <td>
                    <div *ngIf="player.ability_upgrades[17]">
                        <img [src]="getAbilityIconUrl(player.ability_upgrades[17].name)" alt="tal" class="ability-icon">
                    </div>
                </td>
                <td *ngFor="let dummy of ' '.repeat(4).split('')"></td>
                <td>
                    <div *ngIf="player.ability_upgrades[18]">
                        <img [src]="getAbilityIconUrl(player.ability_upgrades[18].name)" alt="tal" class="ability-icon">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <span class="spinner spinner-md loading-spinner" *ngIf="!match">Loading...</span>
</div>
