%section-with-caption {
    $sec-caption-bg: #1a2a32;
    $sec-caption-height: 20px;
    $sec-padding: 18px;

    border: 1px solid #64737B;
    border-top: 1px solid #adbbc4;
    border-radius: 4px;

    padding: $sec-padding*1.5;
    padding-top: $sec-padding;
    padding-bottom: $sec-padding/1.5;

    .caption {
        line-height: $sec-caption-height - 2.5px;
        font-size: $sec-caption-height - 7px;
        padding: 0 5px;
        height: $sec-caption-height;
        width: fit-content;
        background: $sec-caption-bg;
        position: relative;
        top: -($sec-caption-height)/2 - $sec-padding;
        left: 20px - $sec-padding;
        margin-bottom: -$sec-caption-height;
    }
}
