<div class="scroller"
     appInfiniteScroller
     scrollPercent="90"
     [immediateCallback]="true"
     [scrollCallback]="scrollCallback">
    <div class="clr-row clr-justify-content-center">
        <div class="clr-col-lg-6 clr-col-md-8">
            <div class="top-panel">
                <form class="search">
                    <label for="search_input">
                        <input #searchInput id="search_input" [(ngModel)]="query"
                               (keyup)="keyUp.next(query)"
                               name="search"
                               type="text"
                               placeholder="Search for keywords..." autocomplete="off">
                    </label>
                </form>
                <clr-icon [appHideForbidden]="'USER'" size="31" id="add-team" shape="plus"
                          class="btn btn-outline"
                          (click)="teamWizard.openWizard()"></clr-icon>
                <app-add-team-wizard #teamWizard [appHideForbidden]="'USER'"
                                     [captain]="user">
                </app-add-team-wizard>
            </div>
        </div>
    </div>
    <app-team-card *ngFor="let team of teams" [team]="team"></app-team-card>
</div>
