<main *ngIf="!error && user">
    <section class="business-card">

        <figure class="avatar">
            <figcaption>
                {{user.username}}
            </figcaption>
            <img class="avatar_image" [src]="user.avatar" alt="none" width="250" height="250">
        </figure>

        <section id="bio">

        </section>

        <section class="debug_info">
            <h4>id: {{user._id}}</h4>
            <h4>email: {{user.email}}</h4>
            <h4>account_id: {{user.accountId}}</h4>
        </section>
    </section>

    <section id="teams">
        <div class="caption">Teams</div>
        <span class="spinner spinner-md loading-spinner" *ngIf="!teams">Loading...</span>

        <ul *ngIf="teams && teams.length != 0">
            <li *ngFor="let team of teams" routerLink="/teams/{{team._id}}">
                {{team.name}}
            </li>
        </ul>
        <div class="no-found" *ngIf="teams && teams.length === 0">
            <hr size="1px">
            <div>No teams yet</div>
        </div>
        <button class="btn btn-primary btn-link" (click)="teamWizard.openWizard()">add a
            team
        </button>
        <app-add-team-wizard #teamWizard *ngIf="you"
                             [captain]="user">
        </app-add-team-wizard>

    </section>

    <section id="tours">
        <div class="caption">Tournaments</div>

    </section>

    <section id="history">
        <div class="caption">History</div>
    </section>
</main>
<app-error-page *ngIf="error" [error]="error"></app-error-page>
