@import "../../scss-partials/section";

main {
    margin: 25px auto auto;
    display: grid;
    grid-template-areas: "bc feed" "team feed" "tour feed";
    grid-template-columns: 1fr 4fr;

    grid-gap: 40px;
    justify-items: start;
    align-items: start;
    max-width: 1000px;

    > section:not(.business-card) {
        @extend %section-with-caption;
        display: grid;
        grid-template-rows: max-content;
        width: 100%;
        min-height: 200px;
    }
}

.business-card {

    figure {
        margin: 0;

        figcaption {
            color: #e9ecef;
            font-size: 25px;
        }

        .avatar_image {
            object-fit: cover;
            height: 250px;
            width: 250px;
        }
    }

}

.business-card {
    grid-area: bc;
}

#teams {
    grid-area: team;
}

#tours {
    grid-area: tour;
}

#history {
    grid-area: feed;
}

@media screen and (min-width: 680px) and (max-width: 1237px) {
    main {
        grid-template-areas: "bc team" "bc tour" "feed feed"
    }

}

@media screen and (max-width: 679px) {
    main {
        grid-template-areas: "bc" "team" "tour" "feed";
        grid-template-columns: 1fr;
        justify-items: center;
    }
}


.no-found {
    display: grid;
    align-items: center;
    justify-items: center;

    div, hr {
        grid-column: 1;
        grid-row: 1;
    }

    div {
        padding: 5px;
        background: #1a2a32;
    }

    hr {
        width: 100%;
    }
}

.loading-spinner {
    margin: auto;
}

li:hover {
    cursor: pointer;
}
