<main *ngIf="!error && user">
    <section class="business-card">

        <figure class="avatar">
            <figcaption>
                {{user.username}}
            </figcaption>
            <img class="avatar_image" [src]="user.avatar" alt="none" width="250" height="250">
        </figure>

        <section id="bio">

        </section>
    </section>

    <section id="teams">
        <div class="caption">Teams</div>
        <span class="spinner spinner-md loading-spinner" *ngIf="!teams">Loading...</span>

        <ul *ngIf="teams && teams.length != 0">
            <li *ngFor="let team of teams" routerLink="/teams/{{team._id}}">
                {{team.name}}
            </li>
        </ul>
        <div class="no-found" *ngIf="teams && teams.length === 0 && !you">
            <hr size="1px">
            <div>No teams yet</div>
        </div>
        <button class="btn btn-primary btn-link clr-align-self-end add-btn" *ngIf="you"
                (click)="teamWizard.openWizard()">add a
            team
        </button>
        <app-add-team-wizard #teamWizard *ngIf="you"
                             [captain]="user">
        </app-add-team-wizard>

    </section>

    <section id="tours">
        <div class="caption">Tournaments</div>
        <span class="spinner spinner-md loading-spinner" *ngIf="!tours">Loading...</span>

        <ul *ngIf="tours && tours.length != 0">
            <li *ngFor="let tour of tours" routerLink="/tournaments/{{tour._id}}">
                {{tour.name}}
            </li>
        </ul>
        <div class="no-found" *ngIf="tours && tours.length === 0 && !you">
            <hr size="1px">
            <div>No tournaments yet</div>
        </div>
        <button class="btn btn-primary btn-link add-btn" *ngIf="you"
                (click)="tourWizard.openWizard()">create a
            tournament
        </button>
        <app-add-tour-wizard #tourWizard *ngIf="you"
                             [owner]="user">
        </app-add-tour-wizard>

    </section>

    <section id="history">
        <div class="caption">History</div>
    </section>
</main>
<app-error-page *ngIf="error" [error]="error"></app-error-page>
