<div class="clr-row clr-justify-content-center">
    <div class="clr-col-lg-6 clr-col-md-8">
        <div class="card">
            <div class="card-header">
                <span>{{team.name}}</span>
            </div>
            <div class="card-block">
                <div class="card-media-block">
                    <img src="../../../assets/dlc.jpeg" class="card-media-image" alt="{{team.name}}">
                    <div class="card-media-description">
                        <!--<span class="card-media-text">-->
                        <!--Id: {{tour._id}}-->
                        <!--</span>-->
                        <span class="card-media-text">
                    <span *ngIf="team.captain != null">Captain:
            <a>{{team.captain.username}}</a>
                        </span>
                </span>
                    </div>
                </div>
                <div class="card-text">
                    {{team.description}}
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-link" routerLink="/teams/{{team._id}}">view page</button>
            </div>
        </div>
    </div>
</div>
