<div *ngIf="team && !error">
    <div class="clr-row clr-justify-content-center">
        <h1> {{team.name | uppercase}}</h1>
    </div>

    <div class="clr-row clr-justify-content-center">
        <button class="btn btn-outline-primary btn-sm leave-btn" *ngIf="isMember" (click)="leaveOpen = true">leave the
            team
        </button>
    </div>

    <div class="clr-row clr-justify-content-center">

        <div class="clr-col-lg-4 clr-col-md-4">
            <section>
                <div class="caption">Players</div>
                <span class="spinner spinner-md loading-spinner" *ngIf="!team">Loading...</span>
                <ul class="list" *ngIf="team.players && team.players.length != 0">
                    <li *ngFor="let player of team.players; let i = index">
                        <span routerLink="/user/{{player.username}}">
                            <img [src]="avatarURL + player.username" class="avatar_image">
                            {{player.username}}
                        </span>
                        <clr-icon shape="times" *ngIf="i > 0 && isCaptain" (click)="openKickModal(player)"></clr-icon>
                    </li>
                </ul>
                <button type="button" class="btn btn-link add_player_btn"
                        *ngIf="team.players.length < 5 && isCaptain"
                        (click)="inviteOpen = true">
                    Invite player
                </button>
            </section>
        </div>

        <div class="clr-col-lg-4 clr-col-md-4">
            <section>
                <div class="caption">Tournaments</div>
                <span class="spinner spinner-md loading-spinner" *ngIf="!tournaments">Loading...</span>
                <ul *ngIf="tournaments && tournaments.length != 0">
                    <li *ngFor="let tournament of tournaments">
                        {{tournament.name}}
                    </li>
                </ul>
            </section>
        </div>
    </div>


    <div class="clr-row clr-justify-content-center">
        <div class="clr-col-lg-8 clr-col-md-8">
            <section>
                <div class="caption">Matches</div>
                <span class="spinner spinner-md loading-spinner" *ngIf="!matches">Loading...</span>
                <div *ngFor="let match of matches">
                    <h3> <a routerLink="/match/{{match._id}}">{{match._id}}</a></h3>
                    <div *ngFor="let player of match.players; let i = index" style="display: inline">
                        <img [src]="heroIconURL + player.hero_name + '_sb.png'" class="hero-icon" alt="">
                        <span *ngIf="i===4">VS</span>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <clr-modal [(clrModalOpen)]="inviteOpen" [clrModalSize]="'sm'">
        <h3 class="modal-title">Player invitation</h3>
        <div class="modal-body">
            <label for="username" class="clr-control-label">Username</label>
            <input id="username" type="text" name="username"
                   placeholder="" [(ngModel)]="username" autocomplete="off"/>
            <clr-control-error class="error" *ngIf="userNotFound">User not found</clr-control-error>
        </div>
        <div class="modal-footer">
            <button [clrLoading]="inviteBtnState" type="button" class="btn btn-primary" (click)="invitePlayer()">
                Invite
            </button>
        </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="leaveOpen" [clrModalSize]="'sm'">
        <div class="modal-body">
            Are you sure you want to leave the team?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="leave()">
                Leave
            </button>
        </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="kickOpen" [clrModalSize]="'sm'">
        <div class="modal-body" *ngIf="playerForKick">
            Are you sure you want to kick {{playerForKick.username}} from the team?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="kickPlayer()">
                kick
            </button>
        </div>
    </clr-modal>
</div>
<app-error-page *ngIf="error" [error]="error" ]></app-error-page>
