.avatar {
    object-fit: cover;
}

.card-media-text {
    font-size: 3em;
}

.add_player_btn {
    margin-left: auto;
    margin-right: auto;
}

.modal-body {
    overflow: hidden;
}

.error {
    color: #D20808;
}
